<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.skylion.quezzle"
    android:installLocation="preferExternal"
    android:versionCode="2"
    android:versionName="0.1.2" >

    <uses-sdk android:minSdkVersion="14" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.skylion.quezzle.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.skylion.quezzle.permission.C2D_MESSAGE" />

    <application
        android:name="QuezzleApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".ui.activity.ChatsListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.NewChatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ChatDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ChatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.auth.UserLoginActivity"
            android:screenOrientation="portrait" />

        <provider
            android:name=".contentprovider.QuezzleProvider"
            android:authorities="com.skylion.quezzle.contentprovider.QuezzleProvider"
            android:exported="false" />

        <service
            android:name=".service.NetworkService"
            android:exported="false" />
        <service android:name="com.parse.PushService" />

        <receiver android:name="com.parse.ParseBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.skylion.quezzle" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.NewMessageReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.skylion.quezzle.NEW_CHAT_MESSAGE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>